.size{
    
    width: 700px;
    height: 700px;


}




.pink{

    
    background-color:white;
    text-align: center;
    float: right;
    margin-right: 40px;
     

}


.green{

   
    background-color:white;
    margin: 30px;
    float: left;
    margin-top: 250px;


}

.yellow{

   
    background-color:white;
    float: right;
    margin-right: 40px;
    margin-top: 500px;

}

.grey{

    background-color:white;
    text-align: center;
    float: right;
    margin-right: 40px;
    margin-top: 30px;

}
